.dflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.liste li {
    list-style-type: none;
    margin: 15px;
    width: 200px;
    text-align: center;
}

.liste li img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

.liste li button {
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.liste li button:hover {
    background-color: #ff7f00;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #555;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.page-info {
    text-align: center;
}

.input-field {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-right: 10px;
}

.input-field:focus {
    border-color: #007bff;
}

.search-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.refresh-button {
    padding: 10px 20px;
    background-color: #28a745; /* Vert */
    color: #fff;
    border: none;
    border-radius: 8px; 
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.refresh-button:hover {
    background-color: #218838; /* Vert foncé au survol */
    transform: scale(1.05); /* Légère augmentation de la taille */
}

.fav-link {
    color: white;
}

.remove-fav-btn  {
color: red;
}

.delete-button {
    background-color: red;
}

.fav-button {
    background-color: #f8a300;
}

button {
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
nav {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

a {
    text-decoration: none;
}

nav a:hover {
    color: #ff9900;
}

.descr {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descr h2 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.descr img {
    width: 250px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.descr h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.descr p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.descr ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.descr ul li {
    background-color: #f8a300;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.descr p:nth-of-type(3) {
    font-style: italic;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.descr p:nth-of-type(4) {
    font-weight: bold;
    font-size: 16px;
    color: #888;
}

p {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-top: 30px;
}

.favorites {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorites h2 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.favorites ul {
    list-style-type: none;
    padding: 0;
}

.favorites ul li {
    background-color: #f8a300;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.favorites ul li:hover {
    transform: scale(1.05);
}

.favorites p {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-top: 30px;
}

.favorites p:nth-of-type(2) {
    text-align: center;
    color: #888;
}

.home-page {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.home-page h1 {
    font-size: 36px;
    color: #333;
}

.home-page p {
    font-size: 20px;
    color: #555;
}

.cta {
    margin-top: 30px;
}

.cta h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.cta .links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta-button {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #f8a300;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e07b00;
}